<ion-nav-view>
  <ion-view>
    <ion-content ng-class="state == 'booked' ? 'booked' : 'free'" class="dashboard">
      <div class="text-right" style="position: absolute; right: 0;">
        <img src="img/bookingz_logo_symbol_inverted_50.png" alt="">
      </div>
      <div ng-if="hasResource">
        <div style="height: 50px;" ng-if="showResourceName || showDate">
          <h2 ng-if="showResourceName" class="white">{{resource.designation}}</h2>
        </div>


        <div class="details" ng-if="state == 'booked'">
          <h3 class="white time">Bokad: {{meeting.booking_time}}</h3>
          <!--h3 class="white time">Mötet startar: {{meeting.booking_time.split(' - ')[0]}}</h3>
          <h3 class="white time">Mötet slutar: {{meeting.booking_time.split(' - ')[1]}}</h3-->

          <h1 class="white client" ng-class="(meeting.client.length > 22) ? 'client-lg' : 'client-sm'">
            {{meeting.client}}
          </h1>
        </div>

        <div class="details" ng-if="state != 'booked'">
          <h1 class="white client client-lg">Rummet är ledigt</h1>
        </div>

        <div ng-if="noteText" class="card-custom">
          <div class="note-text" ng-bind-html="noteText | trust">
          </div>
        </div>
      </div>

      <div ng-if="!hasResource" class="free">
        <h2 class="white client">{{noResourceMessage}}</h2>
      </div>
    </ion-content>


    <ion-footer-bar align-title="left" ng-class="state == 'booked' ? 'booked' : 'free'">
      <div class="buttons">
        <button style="background: transparent;color : white;  border: transparent" class="button ion-gear-b"
                ng-controller="setupController" ng-click="manageSettings()"></button>

      </div>
      <p ng-if="showDate" class="white" style="position: absolute; right: 15px; bottom: 3px;">{{date | amDateFormat:'dddd YYYY-MM-DD'}} </p>

    </ion-footer-bar>
  </ion-view>
</ion-nav-view>
