<ion-nav-view>
  <ion-view view-title="My Page">
    <ion-content ng-class="state == 'booked' ? 'booked' : 'free'" class="dashboard" >
      <h2 class="white">{{date | date:'EEEE yyyy-MM-dd'}} - {{resource.designation}}</h2>
      <div class="details" ng-if="state == 'booked'" >
        <h1 class="white client">{{meeting.client}}</h1>
        <h3 class="white time">Mötet startar: {{meeting.booking_time.split(' - ')[0]}}</h3>
        <h3 class="white time">Mötet slutar: {{meeting.booking_time.split(' - ')[1]}}</h3>
      </div>
      <div class="details" ng-if="state != 'booked'">
        <h1 class="white client">No booking...</h1>
      </div>

    </ion-content>
  </ion-view>
</ion-nav-view>
