<ion-nav-view>
  <ion-view>
    <ion-content ng-class="state == 'booked' ? 'booked' : 'free'" class="dashboard">
      <div ng-if="hasResource" >
        <div style="height: 100px;">
          <h2 ng-if="showResourceName" class="white">{{resource.designation}}</h2>
          <h3 ng-if="showDate" class="white">{{date | amDateFormat:'dddd YYYY-MM-DD'}}</h3>
        </div>

        <div class="details" ng-if="state == 'booked'">
          <h1 class="white client" ng-class="(meeting.client.length > 22) ? 'client-lg' : 'client-sm'">{{meeting.client}}</h1>
          <h3 class="white time">Mötet startar: {{meeting.booking_time.split(' - ')[0]}}</h3>
          <h3 class="white time">Mötet slutar: {{meeting.booking_time.split(' - ')[1]}}</h3>

        </div>

        <div class="details" ng-if="state != 'booked'">
          <h1 class="white client">Rummet är ledigt</h1>
        </div>

        <div class="card card-custom">
          <!-- Place notifications here -->
        </div>
      </div>

      <div ng-if="hasResource" class="free">
        <h2 class="white">{{noResourceMessage}}</h2>
      </div>
    </ion-content>


    <ion-footer-bar align-title="left" ng-class="state == 'booked' ? 'booked' : 'free'">
      <div class="buttons">
        <button style="background: transparent;color : #111;  border: transparent" class="button ion-gear-b"
                ng-controller="setupController" ng-click="manageSettings()"></button>
      </div>
    </ion-footer-bar>
  </ion-view>
</ion-nav-view>
