<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-icon button-clear button-light ion-android-close" ng-click="closeModal()"> </button>
    </div>
  </ion-header-bar>
  <ion-content >
    <div class='list card' ng-hide='log_pattern'>
      <div class='item item-icon-left'>
        <i class='icon ion-alert assertive'></i>
        <h2 class='assertive'>Please set your login pattern!</h2>
      </div>
    </div>
    <div id='lockPattern' class='pattern-holder patt-holder'></div>
  </ion-content>
</ion-modal-view>




