/* Empty. Add your own CSS if you like */
.dashboard{
  padding: 1em 1em 1em 1em;
}

.booked{
  background-color: #e0157e;
}

.free{
  background-color: darkgreen;
}
.white {
  color: white;
}

.client {
  font-size: 7.5rem;
}

.details {
  margin-top: 10rem;
  margin-left: 11rem;
}


.time {
  padding-left: 0.3rem;
}
