/* Empty. Add your own CSS if you like */

@font-face {
  font-family: "Gotham Light";
  src: url(fonts/GOTHAM-LIGHT.TTF);
}

h1, h2, h3, div {
  font-family: "Gotham Light" !important;
  font-weight: bold;
}


.dashboard {
  padding: 1em 1em 1em 1em;
}

.booked {
  background-color: #FF0000;
}

.free {
  background-color: #4c9900;
}

.white {
  color: white;
}

.client-sm {
  font-size:7vw;
}

.client-lg {
  font-size: 6vw;
}

.details {
  margin: auto;
  margin-top: 3rem;
  width: 90%;
}

.time {
  padding-left: 0.3rem;
}

h1, h2, h3 .shadow {
  text-shadow: 0px 1px 1px #520127;
}

h1, h2, h3 .grey {
  color: dimgrey;
  text-shadow: 0 0 0 !important;
}

.right {
  float: right;
}

.left {
  float: left;
}

.center {
  margin-top: 1.5em;
  padding-bottom: 0.5em;
  text-align: center;
}

.float {
}

.modal {
  max-width: 42.9% !important;
  max-height: 63% !important;
  bottom: 17% !important;
  top: 20% !important;
  left: 30% !important;
  right: 30% !important;
}

.active .modal-backdrop-bg {
  opacity: .3 !important;
  transition: opacity 300ms ease-in-out;
  background: black !important;
}

.card-custom {
  bottom: 15px;
  position: absolute;
  margin: 30px 0 30px 0px;
  min-height: 150px;
  width: 100%;
  display: table;
  background-color: white;
  opacity: 0.95;
  border-style: solid;
  border-width: 2px;
  border-color: #606060;

}

.note-text {
  font-size: 30px;
  display: table-cell;
  vertical-align: middle;
  line-height: 1.2;
  text-align: center;
}

.custom-modal {
  min-width: 70%;
  min-height: 90%;
  top: 5% !important;
  left: 15% !important;
  right: 15% !important;
}

.login-modal {
  width: 390px;
  top: 10% !important;
  bottom: 10% !important;
  max-height: 90% !important;
  min-height: 53% !important;
  left: auto !important;
}

